@import url('yeti.css');
@import url('tabs.css');
@import url('animate.css');
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);


/*
** Shared style
*/

body {
  margin-top: 4em;
  font-family: "Roboto Condensed", "Open Sans", "Droid Sans", "Calibri", "Helvetica Neue",Helvetica,Arial, sans-serif !important;
}

a:hover{text-decoration:none;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto Condensed", "Open Sans", "Droid Sans", "Calibri", "Helvetica Neue",Helvetica,Arial, sans-serif !important;
}
.align-center { text-align: center;}



/*
** Top navigation
*/

.top-navbar {
  position: relative;
  padding: 10px 0px 0px 0px;
  /* background: #F1F1F1; */
}
.top-navbar ul {
  padding:0 !important;
  margin:0 !important;
}
.navbar-inverse {
  background-color: #F9F8F6;
  border-color: #EBF4F6;
  box-shadow: 0px 1px 2px #eee;
}
.top-navbar li {
  list-style:none;
}
.top-navbar li.logo-icon img{
  width: 50%;
  float:left;
  display: block;
  /* margin-top: -8px; */
  /* margin-left:-30px; */
  margin-right:5px;
  margin-bottom:0px;
    
}
.top-navbar li.logo-icon a span {
  color: #164D86;
  font-size:1.5em;
  width:200%;
  margin-top:5px; 
  display:block;
  font-weight: 700;
}

.top-navbar li.panier-icon{
  padding: 10px 0px 0px 0px; 
}
.top-navbar .ruby-span{
  background-color:#ef657c; 
  color:#fff;
  display:block;
  width:92%;
  text-align:center;
  border-radius:10px;
  position:relative;
  bottom:40px;
  left:20px

}
.top-navbar li.social-facebook, .top-navbar li.social-twitter,.top-navbar li.social-linkedin { float:left; display:block; width:39px; margin:0px 10px; }
.top-navbar li.social-facebook a, .top-navbar li.social-twitter a,.top-navbar li.social-linkedin a {
    display:block;
    list-style: none;
    margin: 0px 0px; 
    background:#eee;
    padding: 6px 9px;
    border-radius: 6px;
    width: 39px;
}

li.social-facebook a {
  background-color:#3a5795 !important;
  border-color: #3b88c3 !important;
  box-shadow: 0px 0px 1px #353535;

  color: #fff !important;
}
li.social-facebook a:hover {
  background-color:#fff !important; border-color: #3b88c3 !important; box-shadow: 0px 0px 1px #aaa inset;  color: #3a5795 !important; }
li.social-twitter a {
  background-color:#55acee !important;
  border-color: #3b88c3 !important;
  color: #fff !important;
}

.social-twitter a:hover {background-color:#fff !important; color:#55acee !important}

li.social-linkedin a {background-color:#069 !important; color:#fff !important}

.social-linkedin a:hover {background-color:#fff !important; color:#069 !important}

/**
  Sharaing addany 
**/

.addtoany_share_save_container.addtoany_content_bottom{
  padding: 0px;
  margin:0px;
  margin-bottom :-5px;
}

.top-navbar form {
  list-style:none;
  float:right;
  width: 300px;
  position:relative; 
}
.top-navbar input{
  padding:3px 15px;
  background:;
  color: #58585a;  
  border-radius: 8px;
  border: 1px solid #eee;
  font-style: italic;
}

.top-navbar .submit-search   {
  float:right;
  position:absolute;
  right:10px;
  top: 3px;
  color: blue;
  font-size: 1.6em;
  background:none;
  border:none;
}


/*
*  .menu
*/
.main-menu {
  height: 65px;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li {
  position: relative;
}
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}

.dropdown-menu>li>a,.sf-menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto Condensed","Open Sans", "Droid Sans", "Helvatica", sans-serif;
  font-weight: 800;
  font-size: 1em;
  padding: 5px 10px;
  display: block;
  position: relative;
  zoom: 1; /* IE7 */ 
}
.sf-menu .dropdown-menu>li>a {
  padding: 15px 10px;
}
.sf-menu ul ul {
  top: 0;
  left: 100%;
  z-index: 1;
}
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
  background: #08498b;
  position: relative;
  min-height:60px;
  width: 100%;
  box-sizing:border-box;
  text-align:justify;
}
/* provide background colour for submenu strip */
/* you should just set the menu's container bg colour rather than use pseudo-elements */
.sf-navbar:before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #215c97;
  height: 100%;
  width: 100%;
}
.sf-navbar > li{
  min-height:50px;
  line-height:50px;
  font-size:em;
  min-width: 6em; /* allow long menu items to determine submenu width */
  *width: 12em; /* no auto sub width for IE7, see white-space comment below */

}
.sf-navbar > li:first-child {
  min-width:2em;
}
.aide-wrapper {position: relative;}
.aide-wrapper .button-aide {
  position:absolute;
  top:-52px;
  right:10px;
  border-raidus: 4px;
}

.sf-navbar li {
  padding:3px 3px;
  background: #08498b;
  position:static;
  display:block; 
  white-space: nowrap; /* no need for Supersubs plugin */
  *white-space: normal; /* ...unless you support IE7 (let it wrap) */
  -webkit-transition: background .2s;
  transition: background .2s;
}

.sf-navbar > li > ul {
  border-top : 7px solid #215c97;
  width:100%;
}
.sf-navbar > li > ul{
  background:#08498b;
}

.sf-navbar > li > ul > li {
  display:block;
  max-height:50px;
  line-height:30px;
}
.sf-navbar ul li {
  position:relative;
}
.sf-navbar ul ul {
  position:absolute;
  left:0px;
  top: 100%;
}

.sf-navbar > li > ul > li {
  float: left;
  padding: 0px 0px;
  border-right:1px solid #1a68b7;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus,
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar ul li.current,
.sf-navbar .current-menu-item, .sf-navbar .current_page_item {
  background: #215c97;
  /* only transition out, not in */
  -webkit-transition: none ; 
  transition: none;
  color: #fff;

}
.sf-navbar ul ul li:hover,
.sf-navbar ul ul li.sfHover,
.sf-navbar ul ul li.current {
  background: #215c97;
}
.sf-navbar ul li.current > a {
  font-weight: bold;
}

/*** point all arrows down ***/
.sf-arrows.sf-navbar ul .sf-with-ul:after {
  border-color: transparent;
  border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
  border-top-color: rgba(255,255,255,.5);
}

.sf-arrows.sf-navbar ul > li > .sf-with-ul:focus:after,
.sf-arrows.sf-navbar ul > li:hover > .sf-with-ul:after,
.sf-arrows.sf-navbar ul > .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-top-color: white;
}

.sf-navbar  .dropdown-menu>li {
  padding:0px 70px;
}


/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
 
  padding-right:1em;
  *padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  content: '\f054';
  display: inline-block;
  margin-left:5px;
  font: normal normal normal 12px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
 
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  content: '\f078';
  display: inline-block;
  margin-left:5px;
  font: normal normal normal 12px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

}

a.button-aide {
  font-size:1.3em;
  font-weight:800;
  padding:0px 10px;
  color:#fff;
  background: #205a96;
  display:inline-block;
  width:170px;
  border-radius : 8px;
  max-height: 40px;
  line-height:40px;
}

/*
* 
*/

/*--------------------------------------------------------------------------
+ Homepage Slider Style (modified sequencejs CSS). Sorry, no LESS here
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
+ Homepage Slider Style (modified sequencejs CSS). Sorry, no LESS here
--------------------------------------------------------------------------*/
#sequence {
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  color: white;
  font-size: 0.625em;
  margin: 0 auto 30px auto;
  position: relative;
  height: 400px;
}
#sequence img {
  max-width: 100%;
}
#sequence > .sequence-canvas {
  list-style-type: none;
  height: 400px;
  margin: 0;
  padding: 0;
  width: 100%;
}
#sequence h2 {
  font-size: 4em;
  color: #FFF;
  text-shadow: 2px 2px 3px #444;
  border: none;
  padding-left: 0;
  margin-top: 0;
}
#sequence h3 {
  font-size: 2em;
  color: #FFF;
  text-shadow: 2px 2px 3px #444;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 400px;
  z-index: 1;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  background-position: -50px 0;
}
#sequence > .sequence-canvas > li.bg1 {
  background-image: url(../img/homepage-slider/slider-bg1.jpg);
}
#sequence > .sequence-canvas > li.bg2 {
  background-image: url(../img/homepage-slider/slider-bg2.jpg);
}
#sequence > .sequence-canvas > li.bg3 {
  background-image: url(../img/homepage-slider/slider-bg3.jpg);
}
#sequence > .sequence-canvas > li.bg4 {
  background-image: url(../img/homepage-slider/slider-bg4.jpg);
}
#sequence > .sequence-canvas > li.bg5 {
  background-image: url(../img/homepage-slider/slider-bg5.jpg);
}
#sequence > .sequence-canvas > li.bg6 {
  background-image: url(../img/homepage-slider/slider-bg6.jpg);
}
#sequence > .sequence-canvas > li.bg7 {
  background-image: url(../img/homepage-slider/slider-bg7.jpg);
}
#sequence > .sequence-canvas > li.bg8 {
  background-image: url(../img/homepage-slider/slider-bg8.jpg);
}
#sequence > .sequence-canvas > li.bg9 {
  background-image: url(../img/homepage-slider/slider-bg9.jpg);
}
#sequence > .sequence-canvas > li.bg10 {
  background-image: url(../img/homepage-slider/slider-bg10.jpg);
}
#sequence > .sequence-canvas > li.bg11 {
  background-image: url(../img/homepage-slider/slider-bg11.jpg);
}
#sequence > .sequence-canvas > li.bg12 {
  background-image: url(../img/homepage-slider/slider-bg12.jpg);
}
#sequence > .sequence-canvas > li.bg13 {
  background-image: url(../img/homepage-slider/slider-bg13.jpg);
}
#sequence > .sequence-canvas > li.bg14 {
  background-image: url(../img/homepage-slider/slider-bg14.jpg);
}
#sequence > .sequence-canvas > li img {
  height: 96%;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  -webkit-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -ms-transition-property: left, opacity;
  transition-property: left, opacity;
}
.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px;
}
.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}
.sequence-paused {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.sequence-prev {
  left: 3%;
}
.sequence-next {
  right: 3%;
}
.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}
#sequence-preloader {
  background: #d9d9d9;
}
.sequence-pagination-wrapper {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 99;
}
.sequence-pagination {
  display: none;
  z-index: 99;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sequence-pagination li {
  display: inline-block;
  *display: inline;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999em;
  border: 4px solid #4f8db3;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  -o-transition: background .5s, opacity .5s;
  -ms-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.sequence-pagination li.current {
  background: #4f8db3;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.sequence-next:hover,
.sequence-prev:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#sequence .title {
  font-size: 3.8em;
  text-transform: none;
  left: 0%;
  width: 35%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  bottom: 60%;
  z-index: 50;
}
#sequence > .sequence-canvas > li.animate-in {
  background-position: 0 0;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}
#sequence .animate-in .title {
  left: 15%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#sequence .animate-out .title {
  left: 35%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.subtitle {
  color: black;
  font-size: 2em;
  left: 35%;
  width: 35%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 40%;
}
.animate-in .subtitle {
  left: 15%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.animate-out .subtitle {
  left: 65%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.slide-img {
  left: 90%;
  top: 20%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 450px !important;
  max-width: 45% !important;
}
.animate-in .slide-img {
  left: 55%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.animate-out .slide-img {
  left: 15%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
@media only screen and (min-width: 992px) {
  #sequence .title {
    width: 42%;
  }
}
@media only screen and (max-width: 838px) {
  #sequence .slide-img {
    max-height: 530px !important;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  #sequence {
    height: 400px;
  }
  #sequence .title {
    font-size: 2.8em;
  }
  #sequence .subtitle {
    font-size: 1.6em;
  }
  #sequence .sequence-next,
  #sequence .sequence-prev {
    height: 60px;
    margin-top: -40px;
  }
  #sequence .slide-img {
    max-height: 480px !important;
    width: auto;
  }
}
@media only screen and (max-width: 568px) {
  .slide-img {
    left: 50%;
    width: auto;
    max-width: 80% !important;
  }
  #sequence .animate-in .slide-img {
    left: 50%;
    margin-left: -40%;
  }
  #sequence .animate-out .slide-img {
    left: 20%;
    margin-left: -20%;
  }
  #sequence .title {
    background: #a1a1a1;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 100%;
    padding: 4%;
    width: 100%;
    margin-bottom: 0;
    z-index: 10;
  }
  #sequence .animate-in .title {
    left: 0%;
  }
  #sequence .animate-out .title {
    left: -100%;
  }
  #sequence .subtitle {
    visibility: hidden;
  }
}
/*--------------------------------------------------------------------------
+ Content Slider Style (bxSlider CSS), Sorry, no LESS here
--------------------------------------------------------------------------*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 30px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 0px;
  bottom:20px;
  font-size:3em;
  position:absolute; 

  
}
.bx-wrapper .bx-next {
  
  font-size:3em;
  position:absolute;
  right:10px;
  bottom:20px;

}
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {

}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}


/*
** Main content Styling
*/

.formations-menu {
  background-color: #e8e8e8;
}


.home-page-content, .page-main-content {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e8e8e8;
  color: #252525;
  padding: 10px 20px;
  text-align: justify;
}
.home-page-content li{
  color: #215c97;
  padding:5px;
}
.home-page-content li span {
  color :#252525;
}
h1.home-title {
  color: #2a2d2f;
  font-weight:700; 
  text-transform: uppercase;
  font-size: 2em;
  padding:0px;
  text-shadow: 0px 1px 0px #efefef;
}
h2.sub-title {
  color: #415e6d;
  text-transform: uppercase;
  font-size:1.3em;
  font-weight:500;
  text-shadow: 0px 1px 0px #efefef;
}

/*
**
*/

section #home-page-content, .formations-section,  {

}

section.main-content {
  margin-top: 20px;
}
/*  STYLING FOR
** .formations-section
** .formation-calendar 
** 
*/
.calendar-formations {
  margin:25px;
  box-shadow:1px 1px 0px #ddd;
}

.formations-section {
  padding-bottom:0px;
}

.panel {
  border: none;
  background-color: #e8e8e8;
  padding:0px;
  padding-bottom:25px;
}
.panel .nounce {
  margin :25px;
  padding: 10px;
  color : #1e1e1e;
  font-size: 1em;
  background: #f1f1f1;
  box-shadow:1px 1px 0px #ddd;
}
.list-group {
}

.list-group-item{ 
  margin:0px;
  padding:0px;
  border:none; 
}
.list-group-item  .first-level-list{
  background-color: #727a7c;
  color: #fff;
  border:none; 
  margin:0px;
  padding:10px;
}
.list-group-item  .first-level-list h5{
  text-transform:uppercase;
  font-weight: 700;
  margin-bottom:10px;
}
.list-group {
  background-color: #f6f6f6;
  padding-left: 0px;
  padding-right:0px;
}
.panel-heading {
  background-color:#e1e1e1;
  border:none;
}
.panel-title {
  
  padding: 10px 0px;
  color : #2a2d2f;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
}

.second-level-list .list-group-item {
  background-color: #F7F7F7; 
  font-weight: 700;
  font-size: ; 
  padding: 5px 20px;
  border-bottom:1px solid #eee;

}
.second-level-list {
  padding:0px;
  margin:0px;
} 
.formation-title h5{
  font-weight:700;
}
.formation-date {
  color: #215c97;
  font-weight: 700;
  font-size: 1.2em; 
}

.detail-formation {
 background-color: #fff;
 padding: 20px;
 font-size:1.2em;
 border-left: 5px solid #aaa;
 box-shadow:1px 1px 0px #ddd;
}

.detail-formation .title-for-list h5, .detail-formation .formation-lieu h5, .detail-formation .formation-frais h5,.single-formation .title-for-list h5, .single-formation .formation-lieu h5, .single-formation .formation-frais h5, .page-content.entry-content h4{
  font-size:1.3em;
  font-weight:700;
  margin-top:20px;
  color:#215c97;
  text-shadow: 0px 1px 0px #fff; 
}

.detail-formation .title-for-list li, .detail-formation .formation-lieu p, .detail-formation .formation-frais p {
  font-size:1.1em;
}
.detail-formation li {
  list-style: none; 
  margin:0px;
  padding:0px;
}
.detail-formation li:before {
  content:'\f111';
  display: inline-block;
  font: normal normal normal 12px/1 FontAwesome;
  font-size:.5em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color:#215c97;
  margin-left: -20px;
  padding-right: 10px;
}
.bold-blue {
  color:#215c97;
  font-weight: 700; 
}
.due-date-registration {
  color: #fe1435;
  font-weight: 700; 
}

.detail-formation .btn-calltoaction {
  margin: 5px auto; 
  text-align: center;
}


/*
* References slider styling 
*/
.references-slider{
 margin: 0px 40px;
 display: flex;
 align-items: center;
}
.references-slider .reference-item img {
  
 
}
.references-slider .reference-item .title h3 a {
  font-size: 1em;
  font-weight: 400;
}

.references-slider .reference-item .actions {
  padding: 10px 0;
}

.nos-references .bx-controls .bx-prev, .nos-references .bx-controls .bx-next {
  font-size: 2em;
}
.nos-references .bx-controls .bx-prev {
  margin-left: 10px;
}
.nos-references .bx-controls .bx-next {
  margin-right: 10px; 
}

/*
* Side bar styling
*/

.recherche-widget input[type="text"]{
  background: #aed3f8;
  color: #161616 !important;
  font-weight:700;
  border:none;
  padding:12px;
  width:100%;
  position:relative;
  text-transform:uppercase;
  font-size: .85em;
}
.recherche-widget input[type="text"]:focus{
  box-shadow: none;
  color: #fff;
}
.recherche-widget .submit-search{
  float:right;
  border:none;
  color:#fff;
  position:absolute;
  top:0px;
  right:16px;
  background-color:#215c97;
  padding: 10px;
}

.recherche-widget {
  background-color: #aed3f8;
}
.recherche-widget-title {}


/*
** Widget Plan Formation
*/

a.plan-formation-widget{
  display:block;
  background-color: #ef657c;
  margin: 1.2em 0em;
  padding:0px 0px 10px 0px; 
  
}
.plan-formation-widget img {
  position:absolute;
  top:20px; 
  right:20px;
}
.plan-formation-widget-title{
  text-transform: uppercase;
  color:#2a2d2f;
  font-size:1.1em;
}
.plan-formation-widget .sub-title {
  text-transform: uppercase;
  color: #fff;
  font-size:0.6em;
  text-align:justify;
  width:100%;
   

}
/*
** Widget Contactez nous
**
*/

.contact-widget-content{}

.contact-nous-widget, .media-widget, .newsletter-widget, .temoignages-widget{
  background-color:#e8e8e8;
  box-shadow: 0px 0px 3px #ddd;
  margin-top: 40px;
  padding-bottom: 20px;
}
.widget-contact-title,.widget-media-title, .widget-newsletter-title, .widget-temoignages-title {
  clear:both; 
  color: #2a2d2f;
  text-transform:uppercase;
  padding: 15px 0px;
  text-align:center;
  font-weight:400;
  margin-bottom:20px;
  background-color: #e1e1e1;

}
.widget-media-content, .widget-contact-content, .widget-newsletter-content,.widget-media-content {
  padding:0px 20px;
  text-align: justify; 
}

/*
** Widget Media
**
*/

.media-widget ul {
  margin:0 auto;
  padding: 0;
  text-align:center; 
}
.media-widget li{
  list-style:none;
  width:100px;
  height:100px;
  display: block; 
  float:left;
  border:1px solid #ddd;
  margin:5px;

}
.widget-newsletter-content,.widget-media-content {
padding-bottom: 30px;
}


.widget-newsletter-content input {
  width: 100%;
  padding:10px;
  border:1px solid #fefefe;
  margin-bottom:10px;
}
.widget-newsletter-content button {
  
}

.custom-button {

}
/*
** Widget Temoignages
**
*/
.widget-temoignages-content  {
  padding-bottom: 40px;
}
.temoignages-widget .widget-temoignages-content li{
  list-style:none;
  width: 100%;
  font-style: italic;
}

.temoignage-item .by-name {
  font-weight: 500;

}
.temoignages-widget .bx-wrapper {
  position: relative; 
}
.temoignages-widget .bx-wrapper .bx-prev, .temoignages-widget .bx-wrapper .bx-next{
  font-size:1.3em;
  color: #fff;
  background-color:#215c97;
  padding: 4px 10px;
  position: absolute;
}
.temoignages-widget .bx-wrapper .bx-prev {
  bottom: -50px;
  left: 50px;
}
.temoignages-widget .bx-wrapper .bx-next {
  bottom: -50px;
  right: 50px;
}

/*
**   Widget Chat
**/ 
.chat-widget {
  display: none;
}
/*
** Footer Styling
**/

.main-footer {
  padding: 20px;
  background-color: #3f4b51;
  color: #fff;
  min-height: 300px;
}
.main-footer li {
  list-style: none;
  display:block;
}
.footer-widget-links a , .footer-widget-second a{
  color:#949ea2;
  line-height: 1.3em;
}
.footer-widget-links a:hover , .footer-widget-second a:hover {
  text-decoration:none; 
}
.links-widget-title, .second-widget-title{
  text-transform: uppercase;
  
}
.links-widget-content ul, .second-widget-content ul{
  margin: 30px 0px 0px 0px ;
  padding:0px;
}
.links-widget-content li, .second-widget-content li{
  line-height: 30px;
}

/*
** Google maps location styling
*/
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.footer-credits {
  padding: 30px 0px 20px 0px;
  background-color: #364045;
}
.footer-credits ul li {
  display: inline;
}
.footer-credits li a {
  color: #cad5d8;
  font-size: 1em; 
  text-transform: uppercase; 
  margin-right: 10px; 
  line-height: 60px;
}
.footer-credits li a:hover {
  text-decoration:none; 
}
.footer-credits .copy-rights a{ color: #2abde9; }
.footer-credits .copy-rights { color: #8099a1; font-size:.8em;}
.footer-credits .copy-rights a:hover{ text-decoration:none; }

/*
  extra styling effects 

*/

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* Effect 3: bottom line slides/fades in */
.cl-effect-3 a {
  padding: 8px 0;
}

.cl-effect-3 a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0,0,0,0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.cl-effect-2 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: #2195de;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0965a0;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: #28a2ee;  
}

/*
  Pages 
*/
.page-main-content .page-content.entry-content {
  background: #fefefe;
  margin:20px;
  padding:20px;
  box-shadow:1px 1px 0px #ddd;
}
.panel-title>.page-title.entry-title {
  font-size: 1.3em;
}
/*
**  Archive Formations
*/

.archive-formations .archive-title {
   background: #f1f1f1; 
   padding: 10px 20px;
   line-height:100%;
   font-weight:700;
   text-transform : uppercase; 
   color:#069;
   text-shadow: 2px 2px 0px #fff;
}
.archive-formations .panel .extra-info-article {
   background: #f1f1f1; 
   padding: 5px 10px; 
   margin: 10px 20px;
   box-shadow:1px 1px 0px #ddd;
}

.archive-formations .panel .entry-content{
  background: #ffffff; 
  padding: 20px; 
  margin: 20px;
}
.archive-formations .entry-content .image-thumbnail img{
  margin-bottom: 10px;
  width:100%;
  border:5px solid #eee;
  box-shadow:1px 1px 0px #ddd;
}
.archive-formations .entry-content {
  position:relative;
  font-size: 1.1em;
  text-align:justify;
  
}
.excerpt-read-more {
  font-weight: 800;
  text-transform: uppercase;
  position:absolute;
  right:2%;
  bottom:20px;
}


/*
**  Single formation 
*/
.single-formation .page-content.entry-content p{ text-align:justify;}
.single-formation {
  background-color: #fff;
  margin: 20px;
  font-size:1.1em;
  padding: 20px;
  box-shadow:1px 1px 0px #ddd;
}
.single-formation .labely{
  font-size:1em;
}
.entry-title.panel-title {
  margin-left: 5px;  
}

.single-formation .formation-lieu, .single-formation .formation-frais {
  text-align: justify;
}
.single-formation .title-for-list ul {
  text-align: justify;
}
/*
  Pagination 
*/
.pagination {
  text-align:center;
  margin:0px 0px 20px 0px;
  background:#f1f1f1;
  display:block;
  padding:15px;
  box-shadow: 1px 1px 0px #ddd;
}
.pagination ul {
  list-style:none;
  margin:0px;
  padding:0px;
  display:block;
  text-align:center;
}

.pagination ul li{
  border: 1px solid #ededed;
  display:inline-block;
  padding:5px 10px;
  font-size:1.4em; 
  font-weight:700;
  background: #fff;
   
}
/* 
**  Contact Form 7 styling
*/
.wpcf7-form {
  padding:10px;
}
.wpcf7-form-control {
      width:100%; 
      border:1px solid #e8e8e8;
      padding: 5px 10px; 
      margin:5px;
}
/*
** Responsive rules
**/

/*
* Tablets and Medium Devices styling
*/
@media (max-width: 768px) {
  .references-slider .reference-item {
    width: 34%;
  }

  .top-navbar li.logo-icon img{
      width:90%;
      float:left;
      display: block;
      padding:0px 1px;
    }
    .top-navbar li.logo-icon a span {
      color: #164D86;
      font-size:1.5em;
      width:400%;
      margin-top:15px; 
    
    }
    .top-navbar form { 
      margin:10px 0px 0px 0px;
      width:100%;
    }

    .calendar-formations .formation-date{
      font-size:.9em;
    }
    .detail-formation .title-for-list h5, .detail-formation .formation-lieu h5, .detail-formation .formation-frais h5, .single-formation .title-for-list h5, .single-formation .formation-lieu h5, .single-formation .formation-frais h5, .page-content.entry-content h4 {
      font-size: 1.1em;
    }
    .detail-formation .title-for-list li, .detail-formation .formation-lieu p, .detail-formation .formation-frais p {
      font-size: 1em;
      text-align:justify;
    }
    .detail-formation > div > div > span {
      display:inline-flex;
      padding:3px 0px; 
    }
    .widget-contact-content button {

    }
    .top-navbar li.social-facebook, .top-navbar li.social-twitter, .top-navbar li.social-linkedin {
      font-size:.7em !important; 
      margin: 0px 8px;
      padding:0px;
    }
}

/*
**  Small devices styling
**/
@media (max-width: 479px) {
  .references-slider .reference-item {
    width: 100%;
  }
 
 .top-navbar li.logo-icon a span {
      color: #164D86;
      font-size:1.3em;
      width:600%;
      margin-top:5px; 
  }
  .page-content.entry-content{
    padding:0px;
  }
  .page-content.entry-content ul {
    text-align:justify;
    padding:15px;
  }


  
}


